* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}
