.row-1 {
  background-color: black;
  color: white;
}

.gif {
  width: 60%;
}

.background-gif {
  background: gray;
  color: white;
}

.view-agents {
  background-color: red;
  color: white;
}

.agents-button {
  background-color: white;
}

.maps-button {
  background-color: red;
  color: white;
  border: none;
}

img {
  width: 100%;
}

button {
  padding: 1rem;
}

button:hover {
  background-color: black;
  transition: 1s ease-out;
}
